.scrollComponent{
    display: flex;
    justify-content: center;
}
.createPostContainer{
    display: flex;
    align-items: center;
    gap: 1.3rem;
    height: 12svh;
    width: 85%;
    padding-inline: 0.8rem;
    background: #f2f2f2ad;
    border-radius: 10px;
    border: 1px solid silver;
    /* position: relative; */
}

.createPostContainer > textarea{
    width: 100%;
}

.textAreaOfContent{
    width: 80%;
    height: 70%;
    border: 1px solid silver;
    border-radius: 10px;
    padding-inline: 1rem;
    padding-block: 1rem;
    outline: none;
}

.Fab{
    border-radius: 100%;
    justify-content: center;
    display: flex;
    border: 2px solid #2036ca;
    color: #192eb8;
}

.Fab > svg{
    width: fit-content;
    height: 25px;
}

.userProfile {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.uploadButton{
    /* position: absolute; */
    /* right: 0;
    bottom: -30px; */
    background: rgb(80, 80, 230);
    color: white;
    border-radius: 10px;
    padding-inline:1.2rem;
    padding-block: 0.8rem;
    cursor: pointer;
}

.uploadButton.show {
    opacity: 1;
    transform: translateY(2);
    pointer-events: auto;
}